/* .p-dataview-content {
    background-color: transparent !important;
  }
  
  .p-dataview.p-dataview-list .p-dataview-content > .p-grid > div { */
    /* border: solid #304562; */
    /* border-width: 0;
    box-shadow: none;
  }
  
  .p-dataview .p-paginator-bottom {
    background-color: rgb(1, 18, 158);
    border-radius: 10px;
    box-shadow: rgba(1, 18, 158, 0.6) 0px 8px 12px;
  }
  
  .p-dataview-emptymessage {
    color: rgb(196, 192, 192);
    text-decoration: center;
  } */
  