@import '../../../../../assets/scss/main.scss';

.testimony {
  padding: 24px;
  @media ($min-laptop) {
    padding: 42px 0;
  }
  .testimonyCards {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media ($min-laptop) {
      gap: 24px;
    }
    & + .testimonyCards {
      padding-top: 16px;
      @media ($min-laptop) {
        padding-top: 24px;
      }
    }
  }
}
