// Breakpoints
$min-tablette: "min-width: 768px";
$min-laptop: "min-width: 992px";
$min-desktop: "min-width: 1170px";

$max-tablette: "max-width: 991px";
$max-laptop: "max-width: 1169px";
$max-desktop: "max-width: 1440px"; 