// base colors
$color-primary: #2CA5FF; // bleu
$color-secondary: #01129E; // indigo
$color-orange: #FF6600; // Orange
$color-Gray: #7B8794;
$color-blue_back: #F0F9FF;
$color-blue_focused: #C6DBEA;
$color-gray_dashed: #C6DBEA;
$color-gray_border: #C6DBEA;
$color-badge_color: #FFF2C5;
$color-blue_border: #CCEAFF;
$color-gray_title: #323F4B;
$color-gray_line: #E3E7EB;
$color-trait_blue: #ACCCF8;
$color-obscure-gray:#4f4f4f;
$color-blue-sombre:#3399ff;
$color-blue-light:rgba(204, 234, 255, 0.2);
//fond colors
$color-gray-fond:#F2EFE0;
// colors
$color-black: #00003C;
$color-white: #FFFFFF;
$color-grey_neutral: #7B8794;
$color-transparent: "rgba(0;0;0;0)";
// old color
$color-lightGray: #F5F5F6;
$color-lightGray2: #F6F6F7;
$color-lightGray3: #EFEFF1;
$color-lightGray4: #F8F8F9;
// transparent: transparent;
$color-darkgray: #898C95;
$colorstroke1: #F2F2F2;
$color-gray_gmail: #C4C4C4;
$color-twiter_color: #007AB9;
$color-fb_color: #3B5998;
$color-text_input: #E0E0E0;
$color-yellow: #FFFF00;
$color-red_color: #FF0000;
$color-gray_connect: #6E5D5D;
$color-bleu_fonce_text: #3B5998;
$color-disableGray: "rgba(240; 244; 248; 0.87)";
//color hover
$color-orange-hover:#fe6d0259;
//Typographie

// global sizes
$base: 8px;
$font: 14px;
$radius: 16px;
$radiusTwo: 8px;
$padding: 24px;
$padding2: 16px;
$padding3: 20px;
$padding4: 5px;
$padding5: 10px;
$padding6: 8px;
$padding7: 10px;
// font sizes
$largeTitle: 50px;
$h1: 32px;
$h2: 25px;
$h3: 20px;
$h4: 20px;
$h5: 16px;
$h6: 10px;
$body1: 30px;
$body2: 20px;
$body3: 16px;
$body4: 14px;
$body5: 12px;


// Font families
$font-oxygen: "Oxygen", sans-serif;
$font-orkney: "Orkney", sans-serif;