.carousel-banner-content {
  .carousel-banner-container {
    button {
      position: absolute;
      margin: 0 !important;
      z-index: 1;
      background: white !important;
      top: 40%;
    }
    .carousel-banner-prev {
      transform: rotate(180deg);
    }
    .p-carousel-prev.p-link {
      left: 25px;
    }
    .p-carousel-next.p-link {
      right: 25px;
    }
  }
  .carousel-banner-indicateur {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    button {
      height: 10px !important;
      width: 10px !important;
      border-radius: 50% !important;
    }
  }
  .imageCarousel {
    img {
      object-fit: contain;
    }
  }
}
