@font-face {
  font-family: 'Orkney';
  src: url('../../../../src/assets/scss/fonts/orkney/orkney-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: url('../../../../src/assets/scss/fonts/orkney/orkney-light.woff2') format('woff2');
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: url('../../../../src/assets/scss/fonts/orkney/orkney-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: url('../../../../src/assets/scss/fonts/orkney/orkney-regular.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../../../../src/assets/scss/fonts/oxygen/Oxygen-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../../../../src/assets/scss/fonts/oxygen/Oxygen-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../../../../src/assets/scss/fonts/oxygen/Oxygen-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
